/*cia bus mano stilius*/

body {
    background-color: #F8F8F8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header {
    display: inline-block;
    width: 1000px;
    margin-left: calc( (100% - 1000px) / 2 );
}
header img {
    display: inline-block;
    float: left;

}

nav {
    display: inline-block;
    float: right;

}
a { display:inline-block;
    float: left;
    margin-left: 10px;
    color: #A0A0A0;
    text-decoration: none;
    padding: 5px;
    padding-right: 10px;
    padding left: 10px;
    font-size:18 px;
    border: 5px solid transparent;

}
a:last-of-type {
    border-radius: 21px;
    border-color: #9E9E9E;
    text-transform: uppercase;
    
    
    
}

main {
    
    display: inline-block;
    width: 1000px;
    margin-left: calc( (100% - 1000px) / 2 );
}
div{
    display: inline-block;
    width: 40%;
    float: left;
    margin-top: 100px;
    color: #A0A0A0;


}
h1{ margin: 0;
    font-size: 120px;

}
p { margin: 0;
    font-size: 40px;

}
main > img {
    display: inline-block;
    width: 60%;
    float: right;
}